{{ if or (hasPrefix .Destination "http://") (hasPrefix .Destination "https://") }}
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
{{ else if hasPrefix .Destination "/" }}
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
{{ else }}
  {{ $path := .Destination }}
  {{ if hasPrefix $path "./" }}
    {{ $path = strings.TrimPrefix "./" $path }}
  {{ end }}
  {{ $postURL := .Page.RelPermalink }}
  <img src="{{ $postURL }}{{ $path }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
{{ end }}

{{if .Page.Site.Params.fancybox }}
<div class="post-img-view">
<a data-fancybox="gallery" href="{{ .Destination | safeURL }}">
<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
</a>
</div>
{{ end }}
