/*
*   Style: OneDarkPro Light
*   Based on One Dark Pro Light theme
*/

$color: #383a42;
$background-color: #fafafa;
$error-color: #e45649;
$keyword-color: #a626a4;
$text-color: $color;
$name-color: #4078f2;
$literal-color: #50a14f;
$comment-color: #a0a1a7;
$number-color: #986801;
$operator-color: #0184bc;
$preprocessor-color: #a626a4;
$macro-identifier-color: #986801;
$conditional-identifier-color: #4078f2;
$highlight-background: rgba(0, 0, 0, 0.1);

@import "common.scss";
